<div class="showcase" data-next-url="<%= page.next ? page.next_link : '' %>">
  <% site.data.sectiontypes.each(sectiontypes => { %>
    <div class="showcase__item">
      <figure class="card">
        <a href="/<%= sectiontypes.slug %>" class="card__image">
          <img src="<%= sectiontypes.coverImage %>">
        </a>
        <figcaption class="card__caption">
          <h6 class="card__title">
            <a href="/<%= sectiontypes.slug %>"><%= sectiontypes.title %></a>
          </h6>
        </figcaption>
      </figure>
    </div>
  <% }) %>
</div>
