<article class="sheet">
  <div class="sheet__inner">
    <h1 class="sheet__title"><%= page.title %></h1>
    <p class="sheet__lead"><%= page.excerpt %></p>
    <div class="sheet__body">
      <%- page.content %>
      <a href="<%- page.media %>">Manual</a>
    </div>
     <div class="sheet__gallery">		
 -      <img src="<%= page.detailImage %>" />		
 -    </div>
  </div>
</article>
